body {
  background: #131314;
}

img {
  padding: 5px;
}

span {
  line-height: 30px;
  color: #FFFFFF;
  padding-bottom: 20px;
}

h1 {
  font-family: 'Archivo', sans-serif;
  color: #FFFFFF;
  font-size: 64px;
  font-weight: bold;
  line-height: 72px;
}

h2 {
  font-family: 'Archivo', sans-serif;
  color: #FFFFFF;
  font-size: 50px;
  font-weight: bold;
  padding: 0 30px 0 30px;
  text-align: center;
}

h4 {
  color: black;
  width: 100%;
  text-align: center;
}

.wrapper {
    width: 95%;
    margin: 0 auto;
}

.flexContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.inputClass {
  text-align: center;
  font-size: 1rem;
  padding: 15px 40px;
  border-radius: 25px;
  /* margin: 30px 20px; */
  border: 1.5px solid #FFFFFF;
  background: #131314;
  color: #FFFFFF;
}

.inputClass:hover {
  background: #62d3dd;
  color: #131314;
  transition: 1.5s;
}

header {
    height: 12vh;
    background-color: #131314;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid #FFFFFF;
}

.mainDescription {
  width: 38%;
  padding-left: 30px;
}

.homepageContainer {
  height: 87vh;
  display: flex;
  align-items: center;
}

.mainImageContainer {
  width: 62%;
}

.mainImage {
  width: 100%;
}

.buttonContainer {
  justify-content: space-between;
}

.searchBar {
  width: 100vw;
  padding-bottom: 50px;
}

/* // Loader // */
.loadScreen {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  height: 88vh;
  width: 98vw;
  background-color: #1d1e3a;
}
/* // Loader End // */
