.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.loadScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #1d1e3a;
}

button {
  text-align: center;
  font-size: .9rem;
  padding: 15px 40px;
  border-radius: 25px;
  margin: 30px 20px;
  border: 1.5px solid #FFFFFF;
  background: #131314;
  color: #FFFFFF;
}

.wrapper {
    width: 98%;
    margin: 0 auto;
}

.flexContent {
  display: flex;
  justify-content: space-between;
}

header {
    height: 100px;
    background-color: #131314;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid #FFFFFF;
}

body {
  background: #131314;
}

h4 {
  color: black;
  width: 100%;
  text-align: center;
}

.giphysStyle {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

img {
  padding: 5px;
}

h1 {
  font-family: 'Archivo', sans-serif;
  color: #FFFFFF;
  font-size: 64px;
  font-weight: bold;
  line-height: 72px;
}

span {
  color: #FFFFFF;
}

.mainDescription {
  width: 40%;
  padding-left: 30px;
}

.headerContainer {
  display: flex;
  align-items: center;
}

.mainImageContainer {
  width: 60%;
}

.mainImage {
  width: 100%;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
}

.searchContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* // Loader // */
.loadScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 88vh;
  width: 98vw;
  background-color: #1d1e3a;
}
/* // Loader End // */
